<body>
  <h2>New book</h2>
  <!-- form_with部分 -->
  <%= form_with model: @book do |f| %>

    <div class="field">
      <label for="book-title">Title</label>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <label for="book-body">Body</label>
      <%= f.text_area :body %>
    </div>

    <div class="actions">
      <%= f.submit 'Create Book' %>
    </div>

  <% end %>
</body>






<!--      <h2>New book</h2>-->
<!--      <form action="/books" accept-charset="UTF-8" method="post">-->
<!--        <input type="hidden" name="authenticity_token" value="" autocomplete="off"><!--value内の長いコードが理解できない-->
<!--        <div class="field">-->
<!--          <label for="book_title">Title</label>-->
<!--          <input type="text" name="book[title]" id="book_title">-->
<!--        </div>-->

<!--        <div class="field">-->
<!--          <label for="book_body">Body</label>-->
<!--          <textarea name="book[body]" id="book_body"></textarea>-->
<!--        </div>-->


<!--        <div class="actions">-->
<!--          <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">-->
<!--        </div>-->
<!--    <form>-->




